.circle{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    width: 130px;
	height: 130px;
    background: #75cfe9;
    color: white;
    size: 10; 
	border-radius: 100%;
}