.upperModal{
    background-image: url('./background.png');
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}